body {
    font-family: "IBM Plex Mono", monospace;
    padding: 0;
    box-sizing: border-box;
    margin: 90px 0 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-style: italic;
    font-weight: bold;
}

#container {
    display: flex;
    flex-wrap: wrap;
}