body {
    font-family: "IBM Plex Mono", monospace;
    padding: 0;
    box-sizing: border-box;
    margin: 90px 0 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: bold;
}

a {
    color: var(--text-color);
    font-weight: bold;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#toggle {
    height: 20px;
    cursor: pointer;
}

#toggle:hover {
    cursor: pointer;
}

.comment {
    color: #80808080;
    font-style: italic;
}